:root {
    background: rgb(43,43,43);
    background: radial-gradient(circle, rgb(38, 38, 38) 0%,  rgb(0, 0, 0) 100%); 
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    font-family: "Jetbrains Mono", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    max-width: fit-content;
    height: 100vh;
}

h1 {
    margin-bottom: 0.1em;
    font-size: 6em;
    color: white;
    /*text-decoration: underline;*/
}

.button-container {
    display: flex;
    gap: 1em;
}

.button-container > button {
    flex: 1;
    padding: 0.5em 0.8em;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1.25em;
    border: white solid 0.15em;
    transition: transform .2s;
}

.social-media-links {
    display: flex;
    gap: 1em;
    flex-direction: row;
    margin-top: 1em;
    
}

.social-media-links > a > img {
    width: 1.6em;
    transition: transform .2s;
}

/* scale on hover */

.social-media-links > a > img:hover {
    transform: scale(1.2);
}

.button-container > button:hover {
    transform: scale(1.2);
    background-color: white;
    color: black;
}

/* ABOUT */

.about-container {
    display: flex;
    color: white;
    border: white solid 0.15em;
    border-radius: 1.5em;
    font-size: 2em;
    padding: 0.5em 1em;
}
.about-text > p {
    font-size: 1em;
}