:root {
    background: rgb(43,43,43);
    background: radial-gradient(circle, rgb(38, 38, 38) 0%,  rgb(0, 0, 0) 100%); 
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    font-family: "Jetbrains Mono", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    max-width: fit-content;
    height: 100vh;
}

h1 {
    margin-bottom: 0.1em;
    font-size: 6em;
    color: white;
    /*text-decoration: underline;*/
}

.button-container {
    display: flex;
    gap: 1em;
}

.button-container > button {
    flex: 1;
    padding: 0.5em 0.8em;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1.25em;
    border: white solid 0.15em;
    transition: transform .2s;
}

.social-media-links {
    display: flex;
    gap: 1em;
    flex-direction: row;
    margin-top: 1em;
    
}

.social-media-links > a > img {
    width: 1.6em;
    transition: transform 0.2s;
}

#h-tagline {
    transition: transform 0.35s;
}

#i-tagline {
    transition: transform 0.35s;
}

#period-tagline {
    transition: transform 0.35s;
}


/* scale on hover */

.social-media-links > a > img:hover {
    transform: scale(1.2);
}

.button-container > button:hover {
    transform: scale(1.2);
    background-color: white;
    color: black;
}

/* transform on hover for tagline*/

#h-tagline:hover {
    /*color: yellow;*/
    display: inline-block; 
    transform: translatex(-0.2em);
}

#i-tagline:hover {
    /*color: yellow;*/
    display: inline-block;
    transform: skew(15deg);
}

#period-tagline:hover {
    display: inline-block;
    transform: translatey(-0.6em);
}

/* ABOUT */

.about-container {
    display: flex;
    color: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
   
}
.about-text {
    display: flex;
    flex-direction: column;
    border: white solid 0.1em;
    border-radius: 1.5em;
    padding: 1em 1.5em;

    -webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,1);
}

#IMD-text {
    font-weight: 700;
    transition: 0.3;
}
#IMD-text:hover {
    text-decoration: underline;
}

.about-text h2{
    font-weight: 900;
    font-size: 2em;
}

.about-text > p {
    font-family: "geist mono",'Courier New', Courier, monospace;
    font-size: 1.25em;
    max-width: 40vw;
    margin-top: 0;
   }