/* as you'll see, i really like flex box */

/* defaults override */
:root {
    font-family: "JetBrains Mono",Arial, Helvetica, sans-serif;
    --accent-color: #FB8A20;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: #ebebeb;
    
    margin: 0;
}

button {
    font-family: "Inter","JetBrains Mono",Arial, Helvetica, sans-serif;
}

/* LANDING SECTION */

.landing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    height: 100vh;
    min-height: 3rem;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -2rem;  
    right: 14rem;  
    transform: rotate(15deg);  
    color: #ff4a4a;
    font-family: "Mynerve";
    cursor: default;
}

.arrow-container p{
    margin-top: 0;
}

#arrow-image {
    width: 15rem;
}

.landing-text {
    width: 30rem;
    margin-right: 5rem;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
}

h2 span {
    font-weight: 800;
    text-decoration: underline;
    cursor: default;
    transition: transform 0.2s ease-in-out;
    display: inline-block;
}

h2 span:hover {
    transform: scale(1.1) rotate(10deg);
}

#landing-image {
    height: 20rem;
    max-height: 400px;
    border: 0.25rem solid var(--accent-color);
    border-radius: 10rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;  
}

.social-media-links {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin-top: 1rem;
}

.social-media-links > a > img {
    width: 1.6rem;
    transition: ease-in-out 0.25s;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: black;
    
}

.social-media-links > a > img:hover {
    padding: 0.6rem;
    background-color: #0000003f;
}

.button-container button:hover {
    scale: 1.1;
    background-color: white;
    color: var(--accent-color);
    border: 0.1rem solid var(--accent-color);
}

.section-breaker {
    display: flex;
    overflow: hidden;
    color: var(--accent-color);
    justify-content: center;
}

.button-container button {
    background-color: var(--accent-color);
    border: 0.1 solid rgba(255, 255, 255, 0);
    border-style: solid;
    padding: 0.75rem;
    border-radius: 5rem;
    color: white;
    font-weight: 600;
    -webkit-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* MOBILE FORMATTING */
@media (max-width: 720px) {
    .landing-container {
        flex-direction: column-reverse;
        justify-content:center;
        align-items: center;
        max-height: 100vh;
    }

    .landing-container .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-container .landing-text {
        display: flex;
        flex-direction: column;
        max-width: 75vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .landing-container h2 {
        margin-bottom: 0;
    }

    .landing-container p {
        margin-bottom: 1rem;
    }

    .landing-container .image-container #landing-image{
        height: 15rem;
        
    }
    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .arrow-container {
        position: absolute;
        bottom: 15rem;  
        right: 1rem;  
        flex-direction: column-reverse;
    }
    
    .arrow-container p{
        margin-top: 0;
        position: relative;
        bottom: 0rem;
        left: 1rem;
        transform: rotate(-15deg);
    }
    
    #arrow-image {
        width: 13rem;
        transform: rotate(200deg) scaleX(-1);
    }
}

/* EDUCATION SECTION */

.education-container {
    display: flex;
    height: 100vh;
    min-height:10rem;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;

}

.education-header-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#graduation-date p {
    margin: 0;
    padding: 0;
}

/* used as accent dot in education header text */
.dot {
    color: var(--accent-color);
    font-weight: 900;
    font-size: 1rem;
    
}


.degree-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.degree-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.degree-text {
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: end;
    width: 30rem;
    margin-left: 5rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

p {
    margin-top: 1rem;
}

.logo-container > a > img {
    width: 2rem;
    transition: 0.2;
    transition: all 0.15s ease-in-out;
}

.logo-container > a > img:hover {
    scale: 1.2;
}

#carleton-campus-image {
    height: 15rem;
    max-height: 400px;
    border: 0.25rem solid var(--accent-color);
    border-radius: 10rem;
}

.other-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-container .logo-container img {
    width: 3rem;
}

.other-text {
    max-width: 30rem;
    text-align: center;
}

/* MOBILE MEDIA QUERIES */
@media (max-width: 720px) {
    .degree-container {
        flex-direction: column-reverse;
    }

    .degree-text {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-bottom: 1rem;
        max-width: 90vw;
    }

    .other-text {
        max-width: 90vw;
    }

    #carleton-campus-image {
        height: 20vh;
        max-width: 80vw;
    }
}


/* PROJECTS SECTION */

h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    min-height: 100vh;
}

.project-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80vw;
    gap: 2rem;
}

.project-items .item {
    display: flex;
    border-radius: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #ebebeb;
}

.project-items .item:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.project-items .item iframe {
    flex: auto;
    aspect-ratio: 16/9;
    width: 35vw;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}

.project-items .item img {
    flex: auto;
    width: 35vw;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    cursor: pointer;
}

.project-items .item .item-text {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.project-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    gap: 0.5rem;
}

.project-tags button {
    margin: 0 0.2rem;
    background-color: rgba(255, 255, 255, 0);
    border: 0.12rem solid black;
    border-radius: 2rem;
    color: black;
    font-weight: 600;
    padding: 0.4rem;
}

.item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-footer .button-container {
    display: flex;
    margin: 0.5rem;
    justify-content: end;
}

.item-footer .language-container  {
    display: flex;
}

.item-footer .language-container > img {
    width: 2rem;
    border-radius: 0;
    margin: 0 0.2rem;
    cursor: default;
}

@media (max-width: 720px) {
    .project-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-items .item iframe {
        width: 70vw;
    }

    .project-items .item .image-preview {
        width: 70vw;
    }

    .project-items .item .item-text{ 
        display: flex;
        width: 80%;
        text-align: center;
    }
}

#image-view {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0rem;
    background-color: rgba(0, 0, 0, 0.629);
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
}

#image-view img {
    max-width: 80vw;
}

#image-view .overlay-container {
    position: relative;
    text-align: end;
}

#image-view .overlay-container button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 50%;
    transition: all 0.2s ease;
    font-size: 1rem;
    backdrop-filter: blur(1rem);
    background-color: white;
}

#image-view .overlay-container button:hover {
    background: var(--accent-color);
    color: white;
}

#image-view .overlay-container button:focus {
    transform: rotate(90deg);
}


@media (max-width: 720px) {
    #image-view img {
        max-width: 90vw;
    }
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
    margin-top: 2rem;
    padding: 0;
    width: 100vw;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}
