/* as you'll see, i really like flex box */

/* defaults override */
:root {
    background-color: #ebebeb;
    font-family: "JetBrains Mono",Arial, Helvetica, sans-serif;
}

/* LANDING SECTION */

.landing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
    height: 100vh;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -2rem;  
    right: 14rem;  
    transform: rotate(15deg);  
    color: #ff4a4a;
    font-family: "Mynerve"
}

.arrow-container p{
    margin-top: 0;
}

#arrow-image {
    width: 15rem;
}

.landing-text {
    width: 30rem;
    margin-right: 5rem;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
}

h2 span {
    font-weight: 800;
    text-decoration: underline;
}

#landing-image {
    height: 20rem;
    max-height: 400px;
    border: 0.25rem solid #FB8A20;
    border-radius: 10rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;  /* Add this */
}

.social-media-links {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin-top: 1rem;
}

.social-media-links > a > img {
    width: 1.6rem;
    transition: transform 0.2s;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: black;
    
}

.button-container button {
    background-color: #FB8A20;
    border: none;
    padding: 0.75rem;
    border-radius: 5rem;
    color: white;
    font-weight: 600;
    -webkit-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button-container button:hover {
    scale: 1.1;
    background-color: #e27713;
}

.section-breaker {
    display: flex;
    overflow: hidden;
    color: #FB8A20;
    justify-content: center;
}

/* EDUCATION SECTION */

.education-container {
    display: flex;
    height: 80vh;
    justify-content: center;

}

.education-header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.education-header-text p {
    margin-top: 0;
    padding: 0;
}

/* used as accent dot in education header text */
.dot {
    height: 0.75rem;
    width: 0.75rem;
    background-color: #FB8A20;
    border-radius: 50%;
}


.degree-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.degree-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.degree-text {
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: end;
    width: 30rem;
    margin-left: 5rem;
}

.degree-text h3 {
    font-size: 1.5rem;
    margin: 0;
}

.degree-text p {
    margin-top: 1rem;
}

.school-logo-container > a > img {
    width: 2rem;
    transition: 0.2;
    transition: all 0.15s ease-in-out;
}

.school-logo-container > a > img:hover {
    width: 2rem;
    scale: 1.2;
}

#carleton-campus-image {
    height: 15rem;
    max-height: 400px;
    border: 0.25rem solid #FB8A20;
    border-radius: 10rem;
}
