.landing-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 4rem;
}

.landing-text {
    width: 30rem;
    margin-right: 5rem;
}

img {
    height: 20rem;
    max-height: 400px;

    border: 0.25rem solid #FB8A20;
    border-radius: 10rem;
    object-fit: cover;
}